
  <% if user_signed_in? %>
    
      
      <h1> Welcome... <%= current_user.email %> </h1>
        <h1>Your blogs count is <%= current_user.blogs.count %> </h1>
      <%= link_to 'Blogs here', blogs_path %>
    <li> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>	
    <li><%= link_to "Sign up", new_user_registration_path %></li>
  <% end %>